
<h2>Welcome to wProjects!</h2>
<p>
	This website hosts web development activities for non-programmers.
</p>
<p>
	As part of this, it supports two categories of tasks:
	<ol>
		<li>
			a teacher or other interested person can design a simple
			web application project to be completed by students or
			other learners
		</li>
		<li>
			a student or other learner can work with a project
			specification to create her or his own instance of 
			a web application.
		</li>
	</ol>
	This means that what you find here will depend on on whether you sign up as a project designer or
	a learner. 
</p>
<p>
	If you currently have an account with us, please log in on the left
	in order to continue working on your projects, and welcome back!
</p>
<p>
	If you do not currently have an account with us, please create one by
	clicking on the "Sign Up" link below. Once you do so, you'll be able to complete fun projects!
</p>

<hr>
<p>
	<strong>Get started!</strong>
</p>
<p>
	<%= link_to('Login', new_user_session_path)  %> | <%= link_to 'Sign Up', new_user_registration_path %>
</p>